#header {
    background-image: url('/sites/default/files/clouds-2.png');
    background-position: center bottom;
    background-repeat: repeat-x;
}

#main-menu-links a {
    background-color: transparent !important;
}

#main-menu-links li a.active, #main-menu-links li.active-trail a {
    background-color: transparent !important;
}

#main-menu-links {
    font-size: 18px;
}

#footer .region {
    margin-top: 0 !important;
}

#footer {
    border: 0px !important;
    margin-top: 0px !important;
}

#footer-wrapper {
    background-image: url('/sites/default/files/footer-bg.png');
}